.repair-tech {
    position: relative;
    border-bottom: 1px solid #D9FFF5;
    background-color: #F8F8F8;
    a {
        position: relative;
        text-decoration: none;
        color: black;
        font-family: TTLakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 600;
        flex-basis: 70%;
        height: 160px;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        box-sizing: border-box;

        @media screen and (min-width: 425px) {
            flex-basis: 60%;
        }
        @media screen and (min-width: 540px) {
            flex-basis: 45%;

        }
        @media screen and (min-width: 768px) {
            height: 160px;
            flex-basis: calc(33.3% - 26px);
            display: none;
        }
        @media screen and (min-width: 1120px) {
            height: 160px;
            flex-basis: calc(25% - 26px);
            display: none;
        }
        
    }
    a:not(:last-child) {
        margin-right: 16px;
        @media screen and (min-width: 768px) {
            margin-right: 0px;
        }
    }
    a::after {
        content: "";
        width: 40px;
        height: 40px;
        background: center center no-repeat url(../img/arrow-brand.svg);
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
    &__header{
        padding: 16px;
        background-color: #FFFFFF;
    }
    &__title {
        font-family: TTLakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        text-transform: uppercase;
    }
    &__swiper {
        display: flex;
        flex-direction: column;

    }
    &__slide {
        padding: 16px;
        background-color: #FFFFFF;
        margin-bottom: 7px;
    }
    .visible {
        display: flex;
    }
    &_pagination {
        position: absolute;
        bottom: 0;
    }
    &__wrapper {
        padding: 16px;
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
            box-sizing: border-box;
            margin-bottom: -7px;
        }

    }
}


