.price-slider {
    position: relative;
    background-color: #F8F8F8;
    padding-bottom: 5px;

    // таблица
    &__table-container {
        padding: 0 24px;
        margin-bottom: 44px;
        display: none;
        flex-direction: row;
        margin-top: 16px;

        @media screen and (min-width: 768px) {
            display: none;
            flex-direction: column;
            border-radius: 6px;
            width: calc(100% - 48px) !important;
        }
    }
    &__table-sup {
        display: grid;
        grid-template-columns: 4fr 1fr 1.3fr 1.5fr;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__table-sup-row {
        height: 1rem;
        padding: 23px 16px;
        background-color: #F8F8F8;
        color: #7E7E82;
        opacity: 0.7;
    }

    &__table-item {
        position: relative;
        display: grid;
        grid-template-columns: 4fr 1fr 1.3fr 1.5fr;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;

        @media screen and (max-width: 768px) {
            display: flex;
            max-width: 260px;
            min-height: 200px;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 16px;

            box-sizing: border-box;

            background: #ffffff;
            border-radius: 6px;
        }
    }

    &__table-item:not(:last-child)::after {
        bottom: 0;
        left: 24px;
        position: absolute;
        content: "";
        height: 1px;
        width: calc(100% - 48px);
        background-color: rgba(86, 92, 97, 0.4);

        @media screen and (max-width: 768px) {
             display: none;
        }
    }

    &__table-item-row {
        height: 1rem;
        padding: 23px 16px;
        background-color: #FFFFFF;
        position: relative;

        &:nth-child(1) {
            @media screen and (min-width: 769px) {
                padding-left: 24px;
            }
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            height: fit-content;
            padding: 0;
            margin-bottom: 16px;

            box-sizing: border-box;
        }

        &:nth-child(3) {
            @media screen and (max-width: 768px) {
                width: 40%;
                margin-bottom: 0;
            }
        }

        &:nth-child(4) {
            @media screen and (max-width: 768px) {
                width: 60%;
                margin-bottom: 0;
            }
        }

        &-title {
            display: none;

            @media screen and (max-width: 768px) {
                font-size: 14px;
                line-height: 16px;

                display: block;

                margin-bottom: 4px;

                opacity: 0.72;
                color: #7E7E82;
            }
        }
    }

    // конец таблицы

    &__header {
        padding: 16px;
        background-color: #FFFFFF;
    }

    &__title {
        font-family: TTLakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        text-transform: uppercase;
    }
    &__swiper {
        display: flex;
        flex-direction: column;
        background-color: #F8F8F8;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__swiper.active {
        z-index: -1 !important;
    }
    &__slide {
        padding: 16px;
        background-color: #FFFFFF;
        margin-bottom: 7px;
        position: relative;
        color: black;
        font-family: TTLakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 600;
        flex-basis: 70%;
        height: 160px;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
  

    }
    &__slide:not(:last-child) {
        margin-right: 16px;
    }
    &__slide-card {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__slide-sup {
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        opacity: 0.7;
        font-weight: 300;
        margin-bottom: 4px;
    }
    &__slide-sub {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        font-weight: 500;
        margin-bottom: 16px;
        
    }
    &_double-heigh {
        height: 32px;
    }
    &__btn-order {
        bottom: 16px;
        right: 0;
        position: absolute;
        font-family: TTLakes;
        box-sizing: border-box;
        padding: 4px 16px;
        width: 47%;
        height: 32px;
        justify-content: space-around;
        text-align: start;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        color: #FFFFFF;
        background-color: #FF3E79;
        border: none;
        text-transform: uppercase;
        border-radius: 16px;
        i {
            position: absolute;
            bottom: 12px;
            right: 15px;
            border: solid #FFFFFF;
            border-width: 0 2px 2px 0;
            transform: rotate(-45deg);

        }
        @media screen and (min-width: 425px) {
            width: 35%;
        }
        @media screen and (min-width: 500px) {
            width: 29%;
        }
        @media screen and (min-width: 592px) {
            width: 25%;
        }
    }
    &__btn-table {
        font-family: TTLakes;
        padding: 0 16px;
        width: 70%;
        height: 30px;
        justify-content: space-around;
        text-align: start;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        color: #FFFFFF;
        background-color: #FF3E79;
        border: none;
        text-transform: uppercase;
        border-radius: 16px;
        transform: translate(0px, -4px);

        @media screen and (max-width: 768px) {
            width: 119px;
        }

        i {
            position: absolute;
            bottom: 12px;
            right: 17px;
            border: solid #FFFFFF;
            border-width: 0 2px 2px 0;
            transform: rotate(-45deg);

        }
    }
}
